
<%= simple_form_for @word, :url => cards_path do |f| %>
  <%= f.input :word %>
  <%= f.submit %>
<% end %>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Word</th>
    <th>Pos</th>
    <th>Explanation</th>
  </td>

  <% @cards.each do |card| %>
  <tr>
    <td><%= card.id %></td>
    <td><%= card.word.word %></td>
    <td><%= card.explanation.pos %></td>
    <td><%= card.explanation.content %></td>
  </tr>
  <% end %>

</table>