<div class="row clearfix">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for @word, :url => cards_path do |f| %>

      <div class="input-group">
        <input class="form-control" type="text" name="word[content]">
        <span class="input-group-btn">
          <%= f.submit "Add", :class => "btn btn-primary" %>
        </span>
      </div>

    <% end %>
  </div>


</div>

<br><br>

<table class="table table-bordered">
  <tr>
    <th>ID</th>
    <th>Word</th>
    <th>Pos</th>
    <th>Explanation</th>
    <th>Action</th>
  </td>

  <% @cards.each do |card| %>
  <tr>
    <td><%= card.id %></td>
    <td><%= render_word_content(card.word) %></td>
    <td><%= render_explanation_pos(card.explanation) %></td>
    <td><%= render_explanation_content(card.explanation) %></td>
    <td>
      <%= render_card_destroy_btn(card) %>

    </td>
  </tr>
  <% end %>

</table>
